<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/employees/update}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>First Name</label>
    <input type="text" th:field="*{firstName}" />

    <label>Last Name</label>
    <input type="text" th:field="*{lastName}" />

    <label>Email</label>
    <input type="text" th:field="*{email}" />
    <button type="submit">Update</button>
</form>
</body>
</html>